@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col">
            <input id="search" type="search" class="form-control form-control-sm" value="тестовая строка для решения!глобпроблем&" placeholder="Поиск по наименованию" />
        </div>
    </div>
    <div id="book-collection" class="row">
    </div>
</main>
@section Scripts{
    <script>
        const getBooks = function () {
            let searchVal = $('#search').val();
            let params = new URLSearchParams({
                search: searchVal,
            });
            $.ajax({
                url: '/Home/GetBooks?' + params.toString(),
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var booksHtml = '';
                    data.forEach(function (book) {
                        booksHtml += '<div class="col col-4 mt-2"><div class="card"><div class="card-header"> <div class="row card-title"><h5 class="col">';
                        booksHtml += book.Title;
                        booksHtml += '</h5><h5 class="col" style="text-align:right">';
                        booksHtml += book.Author;
                        booksHtml += '</div></div> <div class="card-body"><p class="text-wrap">';
                        booksHtml += book.Description;
                        booksHtml += '</p></div><div class="card-footer"><a class="btn btn-primary" href="/Home/Book/' + book.Id +'">Перейти</a><button class="btn float-end btn-danger deleteButton" data-id="' + book.Id + '">Удалить</button></div></div></div>';
                    });
                    $('#book-collection').html(booksHtml);
                },
                error: function (err) {
                    $('#book-collection').html('<p>Книг еще нет</p>');
                }
            })
        };
        $(document).ready(getBooks(1));

        $('#search').on("change", () => getBooks());

        $("#book-collection").on("click", 'button', function (event) {
            var id = $(event.target).data('id');
            if (!confirm('Вы точно хотите удалить эту книгу?')) {
                return;
            }
            $.ajax({
                url: '/Home/DeleteBook/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    getBooks();
                },
                error: function (err) {
                }
            });
        });
    </script>
    }