@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col">
            <input id="search" type="search" class="form-control form-control-sm" value="тестовая строка для решения!глобпроблем&" placeholder="Поиск по наименованию" />
        </div>
    </div>
    <div id="book-collection" class="row">
        <div class="col col-4 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h5 class="card-title col">Тест</h5>
                        <h5 class="card-title col" style="text-align:right">Автор</h5>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-wrap">ттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттттт</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Перейти</button>
                    <button class="btn float-end btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        const getBooks = function (page) {
            let searchVal = $('#search').val();
            let params = new URLSearchParams({
                page: page,
                search: searchVal,
            });
            $.ajax({
                url: '/Home/GetBooks?' + params.toString(),
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var booksHtml = '';
                    data.forEach(function (book) {
                        booksHtml += '<div class="col col-4 mt-2"><div class="card"><div class="card-header"> <div class="row card-title"><h5 class="col">';
                        booksHtml += book.Title;
                        booksHtml += '</h5><h5 class="col" style="text-align:right">';
                        booksHtml += book.Author;
                        booksHtml += '</div></div> <div class="card-body"><p class="text-wrap">';
                        booksHtml += book.Description;
                        booksHtml += '</p></div><div class="card-footer"><button class="btn btn-primary">Перейти</button><button class="btn float-end btn-danger">Удалить</button></div></div></div>';
                    });
                    $('#book-collection').html(booksHtml);
                },
                error: function (err) {
                    $('#book-collection').html('<p>Книг еще нет</p>');
                }
            })
        };
        $(document).ready(getBooks(1));
        $('#search').on("change", () => getBooks(1));
    </script>
    }